.customize {
  &-container {
    background-image: url("./images/customizebg.jpg");
    width: 100%;
    height: 100vh;
    background-position: 0px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    box-sizing: border-box;
    h1 {
      font-family: "Besley", serif;
      font-size: 40px;
      color: white;
    }
  }
  &-components {
    background-color: rgba(0, 0, 0, 0.7);
    width: 60%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    min-height: 80%;
  }
}

.customize-card {
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  &-title {
    color: white;
    font-family: "Besley", serif;
    font-size: 20px;
    font-weight: 300;
  }

  &-button {
    &-container {
      display: flex;
      justify-content: space-evenly;
      width: 60%;
      align-items: center;
      button {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 9rem;
        height: 2.5rem;
        font-size: large;
        transition: all 0.3s;
        font-family: "Besley", serif;
        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }
      }
    }
    &-next {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 9rem;
      height: 2.5rem;
      font-size: large;
      transition: all 0.3s;
      border: 2px solid white;
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
    }
    &-back {
      border: none;
      background-color: rgba(255, 255, 255, 0.7);
    }
    // opacity: 0.7;
  }
}

.active-customize-element {
  border: 5px solid white;
  border-radius: 10px;
  //   transform: scale(1.1);
}
