.your-order {
  &-title {
    color: white;
    font-family: "Besley", serif;
    font-size: 20px;
    font-weight: 300;
    padding: 10px 0px;
    border-bottom: 2px solid white;
    width: 100%;
    text-align: center;
  }
  &-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  &-item {
    display: flex;
    // align-items: center;
    // justify-content: center;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 2px solid gray;
    justify-content: space-between;
    p {
      font-size: large;
      font-family: "Besley", serif;
      color: white;
    }
  }
  &-quantity {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    margin: 10px 0px;
    p {
      color: white;
      font-size: large;
    }
    input {
      width: 2.5rem;
      height: 2rem;
      border-radius: 5px;
      text-align: center;
      font-size: large;
    }
  }
}
