$color-primary: #fff9f1;
$color-primary-fade: rgba(255, 249, 241, 0.7);
$color-primary-footer: #a79481;
$color-secordary-footer: #f0e2d0;
$color-primary-button: #554e45;
$color-secondary-button: #a79481;
