.cart-modal {
  &-container {
    background-color: white;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 5px;
    min-height: 10rem;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  }
  &-title {
    width: 100%;
    position: relative;
    align-items: center;
    display: flex;
    border-bottom: 2px solid black;
    h3 {
      width: 100%;
      text-align: center;
    }
    p {
      //   position: absolute;
      cursor: pointer;
    }
  }
  &-list {
    &-headers {
      width: 100%;
      //   padding: 0px 10px;
      padding: 0px 0px 10px 10px;
      box-sizing: border-box;
      font-size: small;
      display: flex;
      justify-content: space-between;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    margin: 20px 0px;
  }
  &-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    padding: 0px 10px;
    // font-size: small;
    font-size: 1rem;
    img {
      width: 5rem;
      border-radius: 5px;
      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
    p {
      width: 60%;
    }
  }
  &-button-checkout {
    transition: all 0.3s;
    font-weight: 700;
    font-family: "Josefin Snas", sans-serif;
    font-size: large;
    color: white;
    width: 7.5rem;
    height: 2.5rem;
    margin: 0px 20px;
    border: none;
    border-radius: 5px;
    background-color: $color-secondary-button;
    &:hover {
      cursor: pointer;
      transform: scale(1.05);
      box-shadow: 0px 7px 18px -3px rgba(0, 0, 0, 0.2);
    }
  }

  &-total-price {
    width: 80%;
    border-top: 3px solid grey;
    border-bottom: 3px solid grey;
    padding: 10px;
    text-align: right;
    font-size: large;
    font-weight: bold;
  }
}
.cart-modal-absolute {
  transform: translate(-90%, 10px);
  position: absolute;
}

.cart-main-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 7rem;
  background-image: linear-gradient(
    to bottom,
    rgba(179, 148, 12, 0.5),
    rgba(0, 0, 0, 0)
  );
}
