.order-tab {
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-title {
    margin: 10px;
  }
  &-select-inner-tab {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 20px;

    &-button {
      background-color: transparent;
      border: none;
      font-size: 1.1rem;
    }
  }
  &-content {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    max-height: 500px;
    overflow: auto;
    &-container {
      border: 3px solid rgba(128, 128, 128, 0.2);
      padding: 10px;
      border-radius: 10px;
      margin: 5px 0px;
    }
    &-title {
      display: flex;
      justify-content: space-between;
      font-size: large;
      font-weight: 600;
    }
  }
}

.profile-active-button {
  border-bottom: 5px solid $color-primary-footer;
}
