.about-page {
  &-container {
    width: 100%;
    height: 100vh;
    background-image: url("./images/aboutbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
  }
  &-card {
    background-color: white;
    width: 45%;
    text-align: center;
    font-family: "Besley", serif;
    padding: 20px 60px;
    margin-left: 10rem;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
    &-title {
      font-weight: 700;
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 40px;
      margin-bottom: 10px;
    }
    &-content {
      margin: 20px 0px;
      font-size: 15px;
    }
  }
}
