.navbar {
  &-img {
    width: 10rem;
    margin: 0px 30px;
    cursor: pointer;
  }
  &-container {
    transition: all 0.5s;
    z-index: 10;
    font-family: "Josefin Sans", sans-serif;
    font-size: larger;
    color: black;
    font-weight: 800;
    position: fixed;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-primary-fade;
  }
  &-pages {
    display: flex;
    justify-content: space-between;
    width: 50%;
    li {
      padding: 5px 10px;
      border-radius: 5px;
      list-style-type: none;
      //   -webkit-text-stroke-width: 0.01px;
      //   -webkit-text-stroke-color: black;
      cursor: pointer;
      color: $color-primary-button;
      font-weight: 700;
      transition: all 0.2s;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  &-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      transition: all 0.3s;
      font-weight: 700;
      font-family: "Josefin Snas", sans-serif;
      font-size: large;
      color: white;
      width: 7.5rem;
      height: 2.5rem;
      margin: 0px 20px;
      border: none;
      border-radius: 5px;
    }
    button:hover {
      cursor: pointer;
      transform: scale(1.05);
      box-shadow: 0px 7px 18px -3px rgba(0, 0, 0, 0.2);
    }
    &-cart {
      &-container {
        transition: all 0.3s;
        position: relative;
        margin: 0px;
        padding: 0px;
        svg {
          &:hover {
            cursor: pointer;
            transform: scale(1.2);
          }
        }
      }
      &-size {
        // text-align: center;
        // vertical-align: center;
        display: flex;
        font-size: small;
        justify-content: center;
        align-items: center;
        background-color: red;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        position: absolute;
        transform: translate(20px, -45px);
      }
    }
    &-signin {
      background-color: $color-secondary-button;
    }
    &-login {
      background-color: $color-primary-button;
    }
  }
}

.user-img {
  &-container {
    width: 40px;
    height: 40px;
    margin: 20px;
    border-radius: 50%;
  }
  object-fit: cover;
  width: 100%;
  height: 100%;
}
