.slider {
  &-container {
    font-family: "Besley", serif;
    letter-spacing: 2px;
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  &-overlay {
    z-index: 9;
    background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.2)
    );
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    h1 {
      margin: 5% 10%;
      font-size: 35px;
    }
    p {
      font-size: 15px;
    }
    &-arrows {
      z-index: 16;
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: space-between;
      svg {
        cursor: pointer;
        margin: 20px;
      }
    }
    &-dots {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      &-container {
        margin: 2rem;
        display: flex;
        justify-content: space-between;
        width: 100px;
        div {
          width: 15px;
          height: 15px;
          border-radius: 50%;
        }
      }
    }
    &-content {
      z-index: 15;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      button {
        margin-top: 10%;
        width: 10.5rem;
        height: 3rem;
        color: white;
        cursor: pointer;
        border: 2px solid white;
        font-family: "Besley", serif;
        font-size: large;
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        align-items: center;
        justify-content: space-around;
        transition: all 0.3s;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
  &-image {
    height: 100vh;
    width: 100vw;
    // animation: slider 60s linear 1ms infinite forwards;
    transition: all 1s ease-out;
    img {
      width: 100vw;
      height: 100%;
      object-fit: cover;
    }
  }
}
