@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Besley&display=swap");
.navbar-img {
  width: 10rem;
  margin: 0px 30px;
  cursor: pointer;
}
.navbar-container {
  transition: all 0.5s;
  z-index: 10;
  font-family: "Josefin Sans", sans-serif;
  font-size: larger;
  color: black;
  font-weight: 800;
  position: fixed;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 249, 241, 0.7);
}
.navbar-pages {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.navbar-pages li {
  padding: 5px 10px;
  border-radius: 5px;
  list-style-type: none;
  cursor: pointer;
  color: #554e45;
  font-weight: 700;
  transition: all 0.2s;
}
.navbar-pages li:hover {
  transform: scale(1.2);
}
.navbar-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-buttons button {
  transition: all 0.3s;
  font-weight: 700;
  font-family: "Josefin Snas", sans-serif;
  font-size: large;
  color: white;
  width: 7.5rem;
  height: 2.5rem;
  margin: 0px 20px;
  border: none;
  border-radius: 5px;
}
.navbar-buttons button:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0px 7px 18px -3px rgba(0, 0, 0, 0.2);
}
.navbar-buttons-cart-container {
  transition: all 0.3s;
  position: relative;
  margin: 0px;
  padding: 0px;
}
.navbar-buttons-cart-container svg:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.navbar-buttons-cart-size {
  display: flex;
  font-size: small;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  position: absolute;
  transform: translate(20px, -45px);
}
.navbar-buttons-signin {
  background-color: #a79481;
}
.navbar-buttons-login {
  background-color: #554e45;
}

.user-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.user-img-container {
  width: 40px;
  height: 40px;
  margin: 20px;
  border-radius: 50%;
}

.slider-container {
  font-family: "Besley", serif;
  letter-spacing: 2px;
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.slider-overlay {
  z-index: 9;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.slider-overlay h1 {
  margin: 5% 10%;
  font-size: 35px;
}
.slider-overlay p {
  font-size: 15px;
}
.slider-overlay-arrows {
  z-index: 16;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.slider-overlay-arrows svg {
  cursor: pointer;
  margin: 20px;
}
.slider-overlay-dots {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.slider-overlay-dots-container {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  width: 100px;
}
.slider-overlay-dots-container div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.slider-overlay-content {
  z-index: 15;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.slider-overlay-content button {
  margin-top: 10%;
  width: 10.5rem;
  height: 3rem;
  color: white;
  cursor: pointer;
  border: 2px solid white;
  font-family: "Besley", serif;
  font-size: large;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all 0.3s;
}
.slider-overlay-content button:hover {
  transform: scale(1.05);
}
.slider-image {
  height: 100vh;
  width: 100vw;
  transition: all 1s ease-out;
}
.slider-image img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

.bestseller-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
  font-family: "Besley", sans-serif;
  background-image: url("./images/bestsellersbackground.png");
}
.bestseller-container h1 {
  z-index: 5;
  color: white;
  margin: 20px 20px 20px 50px;
}
.bestseller-underline {
  z-index: 5;
  width: 35%;
}
.bestseller-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7) 5%, rgba(0, 0, 0, 0.4) 20%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.4) 75%, rgba(0, 0, 0, 0.7) 100%);
}
.bestseller-grid {
  z-index: 5;
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 60%;
  align-items: center;
  padding: 50px;
}
.bestseller-grid-item {
  display: flex;
  flex-direction: column;
  position: relative;
}
.bestseller-grid-item-content {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  display: flex;
  z-index: 6;
  flex-direction: column;
  align-items: center;
  width: 250px;
  position: absolute;
  height: 220px;
  box-sizing: border-box;
  transition: all 0.5s ease-out;
  cursor: pointer;
}
.bestseller-grid-item-content button {
  border: none;
  width: 9rem;
  height: 2.5rem;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: large;
  font-family: "Besley", serif;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.bestseller-grid-item-content button:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.bestseller-grid-item-content p {
  color: white;
  font-family: "Besley", serif;
  font-size: small;
  padding: 10px;
}
.bestseller-grid-item-image {
  transition: all 0.5s ease-out;
  width: 250px;
  height: 220px;
  z-index: 7;
}
.bestseller-grid-item-image:hover {
  cursor: pointer;
}
.bestseller-grid-item-image img {
  width: 250px;
  height: 220px;
  object-fit: cover;
}

.about-page-container {
  width: 100%;
  height: 100vh;
  background-image: url("./images/aboutbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.about-page-card {
  background-color: white;
  width: 45%;
  text-align: center;
  font-family: "Besley", serif;
  padding: 20px 60px;
  margin-left: 10rem;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
}
.about-page-card-title {
  font-weight: 700;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 40px;
  margin-bottom: 10px;
}
.about-page-card-content {
  margin: 20px 0px;
  font-size: 15px;
}

.contactus-container {
  width: 100%;
  height: 100vh;
  background-image: url("./images/contactbg.jpg");
  background-size: contain;
  display: flex;
}
.contactus-left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactus-form {
  display: flex;
  width: 50%;
  padding: 40px;
  border-radius: 5px;
  background-color: rgba(240, 226, 208, 0.8);
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.15);
}
.contactus-form h1 {
  font-size: 30px;
  font-family: "Besley", serif;
  color: #a79481;
}
.contactus-form input {
  width: 80%;
  margin: 15px;
  height: 30px;
  padding: 2px 10px;
  border-radius: 5px;
  font-family: "Besley", serif;
  border: 2px solid #a79481;
}
.contactus-form textarea {
  font-family: "Besley", serif;
  border: 2px solid #a79481;
  width: 80%;
  margin: 15px;
  height: 7rem;
  padding: 5px 10px;
  border-radius: 5px;
  resize: none;
}
.contactus-form textarea:focus {
  border: 2px solid #a79481;
}
.contactus-form button {
  width: 7rem;
  height: 2.5rem;
  font-family: "Besley", serif;
  border: none;
  background-color: #a79481;
  font-size: large;
  color: white;
  font-weight: 550;
  border-radius: 5px;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contactus-form button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.contactus-right {
  width: 50%;
  height: 100%;
}
.contactus-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-footer {
  width: 100%;
  height: 250px;
  background-color: #a79481;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.home-footer-title {
  font-family: "Besley", serif;
  color: white;
}
.home-footer-icons {
  width: 20%;
  display: flex;
  justify-content: space-around;
}
.home-footer-icons img {
  width: 30px;
  transition: all 0.3s;
}
.home-footer-icons img:hover {
  cursor: pointer;
  transform: scale(1.3);
}
.home-footer-underline {
  display: flex;
  align-items: center;
  width: 20%;
  justify-content: space-around;
}
.home-footer-underline div {
  width: 110px;
  height: 5px;
  background-color: white;
  border-radius: 5px;
}
.home-footer p {
  color: white;
}

.customize-container {
  background-image: url("./images/customizebg.jpg");
  width: 100%;
  height: 100vh;
  background-position: 0px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  box-sizing: border-box;
}
.customize-container h1 {
  font-family: "Besley", serif;
  font-size: 40px;
  color: white;
}
.customize-components {
  background-color: rgba(0, 0, 0, 0.7);
  width: 60%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  min-height: 80%;
}

.customize-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.customize-card-title {
  color: white;
  font-family: "Besley", serif;
  font-size: 20px;
  font-weight: 300;
}
.customize-card-button-container {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  align-items: center;
}
.customize-card-button-container button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 9rem;
  height: 2.5rem;
  font-size: large;
  transition: all 0.3s;
  font-family: "Besley", serif;
}
.customize-card-button-container button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.customize-card-button-next {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 9rem;
  height: 2.5rem;
  font-size: large;
  transition: all 0.3s;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}
.customize-card-button-back {
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
}

.active-customize-element {
  border: 5px solid white;
  border-radius: 10px;
}

.base-select-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.base-select-content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.base-select-content-item img {
  width: 60%;
  border-radius: 10px;
  margin: 20px;
  transition: all 0.3s;
}
.base-select-content-item img:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.base-select-content-item p {
  color: white;
  font-family: "Besley", serif;
  transition: all 0.3s;
}
.base-select-content-item p:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.scrub-select-content {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 5rem;
  row-gap: 2rem;
  margin: 20px 0px;
}
.scrub-select-content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scrub-select-content-item img {
  border-radius: 10px;
  transition: all 0.3s;
}
.scrub-select-content-item img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.scrub-select-content-item p {
  transition: all 0.3s;
  color: white;
  font-family: "Besley", serif;
  padding: 5px 0px;
}
.scrub-select-content-item p:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.type-select-content {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 5rem;
  row-gap: 2rem;
  margin: 20px 0px;
}
.type-select-content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.type-select-content-item img {
  border-radius: 10px;
  transition: all 0.3s;
}
.type-select-content-item img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.type-select-content-item p {
  transition: all 0.3s;
  color: white;
  font-family: "Besley", serif;
  padding: 5px 0px;
}
.type-select-content-item p:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.fragrance-select-content {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 5rem;
  row-gap: 2rem;
  margin: 20px 0px;
}
.fragrance-select-content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fragrance-select-content-item img {
  border-radius: 10px;
  transition: all 0.3s;
}
.fragrance-select-content-item img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.fragrance-select-content-item p {
  transition: all 0.3s;
  color: white;
  font-family: "Besley", serif;
  padding: 5px 0px;
}
.fragrance-select-content-item p:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.essential-oil-select-content {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 5rem;
  row-gap: 2rem;
  margin: 20px 0px;
}
.essential-oil-select-content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.essential-oil-select-content-item img {
  border-radius: 10px;
  transition: all 0.3s;
}
.essential-oil-select-content-item img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.essential-oil-select-content-item p {
  transition: all 0.3s;
  color: white;
  font-family: "Besley", serif;
  padding: 5px 0px;
}
.essential-oil-select-content-item p:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.your-order-title {
  color: white;
  font-family: "Besley", serif;
  font-size: 20px;
  font-weight: 300;
  padding: 10px 0px;
  border-bottom: 2px solid white;
  width: 100%;
  text-align: center;
}
.your-order-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.your-order-item {
  display: flex;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 2px solid gray;
  justify-content: space-between;
}
.your-order-item p {
  font-size: large;
  font-family: "Besley", serif;
  color: white;
}
.your-order-quantity {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  margin: 10px 0px;
}
.your-order-quantity p {
  color: white;
  font-size: large;
}
.your-order-quantity input {
  width: 2.5rem;
  height: 2rem;
  border-radius: 5px;
  text-align: center;
  font-size: large;
}

.products-page-container {
  background-image: url("./images/customizebg.jpg");
  background-size: cover;
  padding-top: 6rem;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}
.products-page-title {
  text-align: center;
  color: white;
  font-family: "Besley", serif;
  margin: 10px 0px;
}
.products-page-products {
  background-color: rgba(0, 0, 0, 0.7);
  width: 90%;
  padding: 20px;
  border-radius: 5px;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}
.products-page-products-item {
  display: flex;
  flex-direction: column;
  width: 16rem;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 20px;
  border-radius: 5px;
  justify-content: space-between;
  transition: all 0.3s;
  overflow: hidden;
}
.products-page-products-item:hover {
  cursor: pointer;
}
.products-page-products-item img {
  width: 250px;
  height: 200px;
  box-sizing: border-box;
  border-radius: 5px;
}
.products-page-products-item p {
  text-align: center;
  padding: 10px;
}
.products-page-products-item button {
  display: flex;
  border: none;
  width: 8rem;
  align-items: center;
  justify-content: space-evenly;
  height: 2.5rem;
  font-family: "Besley", serif;
  font-size: 15px;
  border-radius: 5px;
  transition: all 0.3s;
}
.products-page-products-item button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.product-page-container {
  background-image: linear-gradient(to bottom, rgba(179, 148, 12, 0.5), rgba(0, 0, 0, 0));
  background-size: cover;
  width: 100%;
  padding-top: 7rem;
  box-sizing: border-box;
  position: relative;
}
.product-page-line {
  width: 5px;
  height: 400px;
  background-color: #a79481;
  border-radius: 5px;
  margin-top: 1rem;
}
.product-page-card {
  z-index: 5;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  width: 80%;
  min-height: 80%;
  margin: 0px auto;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}
.product-page-image {
  padding: 0px 20px;
  width: 45%;
}
.product-page-image img {
  object-fit: cover;
  border-radius: 5px;
  width: 100%;
}
.product-page-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}
.product-page-description-button {
  width: 12rem;
  height: 3rem;
  border: none;
  background-color: #a79481;
  color: white;
  border-radius: 5px;
  font-family: "Besley", serif;
  font-size: larger;
  transition: all 0.3s;
}
.product-page-description-button-container {
  width: 100%;
  display: flex;
  margin-top: 2rem;
}
.product-page-description-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.product-page-description-title {
  font-family: "Besley", serif;
}
.product-page-description-content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  min-height: 50%;
  justify-content: space-between;
}
.product-page-description-content p {
  width: 70%;
  font-size: large;
}
.product-page-description-content div {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.product-page-description-content div label {
  font-size: large;
}
.product-page-description-content div input {
  padding: 5px 5px;
  border-radius: 5px;
  border: none;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: large;
}

.other-products-container {
  width: 80%;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px 50px;
  border-radius: 5px;
}
.other-products-title {
  font-family: "Besley", serif;
  margin: 10px 0px;
}
.other-products-list {
  position: relative;
  display: flex;
  align-items: center;
  overflow-x: auto;
}
.other-products-list svg {
  transition: all 0.3s;
  border-radius: 50%;
  padding: 5px;
}
.other-products-list svg:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}
.other-products-list-item {
  width: 20%;
  height: 20rem;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
}
.other-products-list-item img {
  width: 100%;
  border-radius: 5px;
}
.other-products-list-item p {
  margin: 10px 0px;
}
.other-products-list-item button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  width: 10rem;
  height: 2rem;
  background-color: transparent;
  color: #554e45;
  font-size: large;
  font-weight: 600;
  transition: all 0.3s;
  padding: 10px;
}
.other-products-list-item button:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: rgba(150, 125, 10, 0.4);
  border-radius: 20px;
}

.modal-overlay {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-container {
  border-radius: 20px;
  background-color: rgba(255, 249, 241, 0.7);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  font-family: "Besley", serif;
}
.signup-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.signup-title h2 {
  width: 100%;
  text-align: center;
}
.signup-title div {
  transition: all 0.3s;
}
.signup-title div:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.signup-form {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup-form input::-webkit-outer-spin-button,
.signup-form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.signup-form input[type=number] {
  -moz-appearance: textfield;
}
.signup-form input,
.signup-form textarea {
  font-size: large;
  width: 100%;
  height: 1.5rem;
  border-radius: 5px;
  border: 2px solid #a79481;
  padding: 5px;
  margin-bottom: 1rem;
}
.signup-form input:focus,
.signup-form textarea:focus {
  outline: none;
}
.signup-form label {
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
}
.signup-button-container button {
  transition: all 0.3s;
  font-weight: 700;
  font-family: "Josefin Snas", sans-serif;
  font-size: large;
  color: white;
  width: 7.5rem;
  height: 2.5rem;
  margin: 0px 20px;
  border: none;
  border-radius: 5px;
}
.signup-button-container button:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0px 7px 18px -3px rgba(0, 0, 0, 0.2);
}
.signup-error {
  color: darkred;
  margin: 10px;
  font-weight: 600;
}

.modal-cross-button {
  font-size: 2rem;
}

.cart-modal-container {
  background-color: white;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 5px;
  min-height: 10rem;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}
.cart-modal-title {
  width: 100%;
  position: relative;
  align-items: center;
  display: flex;
  border-bottom: 2px solid black;
}
.cart-modal-title h3 {
  width: 100%;
  text-align: center;
}
.cart-modal-title p {
  cursor: pointer;
}
.cart-modal-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  margin: 20px 0px;
}
.cart-modal-list-headers {
  width: 100%;
  padding: 0px 0px 10px 10px;
  box-sizing: border-box;
  font-size: small;
  display: flex;
  justify-content: space-between;
}
.cart-modal-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  padding: 0px 10px;
  font-size: 1rem;
}
.cart-modal-item img {
  width: 5rem;
  border-radius: 5px;
}
.cart-modal-item img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.cart-modal-item p {
  width: 60%;
}
.cart-modal-button-checkout {
  transition: all 0.3s;
  font-weight: 700;
  font-family: "Josefin Snas", sans-serif;
  font-size: large;
  color: white;
  width: 7.5rem;
  height: 2.5rem;
  margin: 0px 20px;
  border: none;
  border-radius: 5px;
  background-color: #a79481;
}
.cart-modal-button-checkout:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0px 7px 18px -3px rgba(0, 0, 0, 0.2);
}
.cart-modal-total-price {
  width: 80%;
  border-top: 3px solid grey;
  border-bottom: 3px solid grey;
  padding: 10px;
  text-align: right;
  font-size: large;
  font-weight: bold;
}

.cart-modal-absolute {
  transform: translate(-90%, 10px);
  position: absolute;
}

.cart-main-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 7rem;
  background-image: linear-gradient(to bottom, rgba(179, 148, 12, 0.5), rgba(0, 0, 0, 0));
}

.user-profile-container {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
  width: 100%;
  background-color: rgba(179, 148, 12, 0.2);
  min-height: 100vh;
  box-sizing: border-box;
}
.user-profile-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-profile-top img {
  width: 100px;
  padding: 20px;
}
.user-profile-top p {
  font-size: x-large;
  font-weight: 600;
  padding-bottom: 10px;
}
.user-profile-tab-selector {
  display: flex;
  width: 40%;
  justify-content: space-around;
  padding: 1rem;
  border-bottom: 2px solid #554e45;
}
.user-profile-tab-selector button {
  width: 7rem;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  font-size: large;
  transition: all 0.3s;
}
.user-profile-tab-selector button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.user-profile-tab-active {
  width: 40%;
  padding: 20px;
}

.tab-active {
  background-color: #a79481;
}

.profile-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.profile-tab input {
  width: 100%;
  border-radius: 5px;
  border: none;
  height: 1.5rem;
  margin: 10px 0px;
  font-size: 1.2rem;
  padding: 5px 10px;
}
.profile-tab textarea {
  width: 100%;
  margin: 10px 0px;
  padding: 5px 10px;
  border-radius: 5px;
  height: 5rem;
  border: none;
  font-size: 1.2rem;
}
.profile-tab label {
  width: 100%;
  padding: 0px 10px;
  font-size: 1.2rem;
}
.profile-tab button {
  width: 7rem;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  font-size: large;
  transition: all 0.3s;
  background-color: #a79481;
  margin: 10px 0px;
}
.profile-tab button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.order-tab-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.order-tab-title {
  margin: 10px;
}
.order-tab-select-inner-tab {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 20px;
}
.order-tab-select-inner-tab-button {
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
}
.order-tab-content {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
  max-height: 500px;
  overflow: auto;
}
.order-tab-content-container {
  border: 3px solid rgba(128, 128, 128, 0.2);
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0px;
}
.order-tab-content-title {
  display: flex;
  justify-content: space-between;
  font-size: large;
  font-weight: 600;
}

.profile-active-button {
  border-bottom: 5px solid #a79481;
}

.main-modal-container {
  position: absolute;
  z-index: 999;
  background-color: white;
  min-width: 20rem;
  min-height: 5rem;
  padding: 10px 20px;
  border-radius: 10px;
}
.main-modal-container p {
  cursor: pointer;
}
.main-modal-top {
  display: flex;
  justify-content: flex-end;
}
.main-modal-message {
  text-align: center;
  font-size: large;
}

.admin-page-container {
  padding-top: 6rem;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #f0e2d0;
}
.admin-page-container h1 {
  text-align: center;
}
.admin-page-tab-select {
  box-sizing: border-box;
  padding: 40px 0px 20px 0px;
  border-bottom: 3px solid #a79481;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.admin-page-tab-select button {
  width: 12rem;
  border: none;
  border-radius: 10px;
  height: 2.5rem;
  font-size: large;
  transition: all 0.3s;
}
.admin-page-tab-select button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.admin-page-content {
  margin: 10px;
  border-radius: 5px;
  padding: 20px;
  min-height: 10%;
  background-color: rgba(0, 0, 0, 0.1);
}

.admin-orders-orderitem {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid black;
  margin: 10px 0px;
  padding: 20px;
  box-sizing: border-box;
}
.admin-orders-orderitem-userdetails {
  width: 40%;
  box-sizing: border-box;
}
.admin-orders-orderitem-userdetails table {
  column-gap: 30px;
}
.admin-orders-orderitem-orderdetails {
  box-sizing: border-box;
  width: 50%;
}

.admin-orders-productitem {
  display: flex;
  column-gap: 10px;
  margin: 10px 0px;
}

.admin-orders-orderitem-buttons {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.admin-orders-orderitem-buttons button {
  width: 10rem;
  height: 2.5rem;
  font-size: x-large;
  background-color: #a79481;
  border: none;
  border-radius: 5px;
  transition: all 0.3s;
}
.admin-orders-orderitem-buttons button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.admin-orders-options {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}
.admin-orders-options-filter {
  display: flex;
  align-items: center;
  width: 20%;
}
.admin-orders-options-filter label {
  font-size: larger;
  padding: 0px 10px;
  font-weight: 700;
}
.admin-orders-options-filter select {
  width: 100%;
  height: 2rem;
  padding: 5px;
  font-size: larger;
}
.admin-orders-options-search {
  background-color: white;
  width: 30%;
  display: flex;
  padding: 0px 10px;
  box-sizing: border-box;
  border-radius: 30px;
  overflow: hidden;
}
.admin-orders-options-search input {
  width: 100%;
  box-sizing: border-box;
  height: 2rem;
  border: none;
  padding: 0px 10px;
}
.admin-orders-options-search input:focus {
  outline: none;
}

.admin-orders-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admin-orders-type-buttons {
  display: flex;
  justify-content: "space-between";
  column-gap: 30px;
}
.admin-orders-type-buttons button {
  border-radius: 10px;
  border: none;
  width: 15rem;
  font-size: large;
  padding: 0px 10px;
  transition: all 0.3s;
}
.admin-orders-type-buttons button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.admin-option-button-active {
  border: 3px solid #a79481;
}

.admin-login-container {
  background-image: linear-gradient(to bottom, rgba(179, 148, 12, 0.5), rgba(0, 0, 0, 0));
  width: 100vw;
  height: 100vh;
  padding: 6rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
  border-radius: 10px;
  background-color: rgba(167, 148, 129, 0.5);
}
.admin-login-card input {
  width: 20rem;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  margin: 10px 0px;
}
.admin-login-card button {
  width: 7rem;
  height: 2.5rem;
  background-color: #554e45;
  border-radius: 5px;
  border: none;
  font-size: large;
  font-weight: 600;
  color: white;
  margin: 10px 0px;
  transition: all 0.3s;
}
.admin-login-card button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

* {
  margin: 0;
}

.link {
  text-decoration: "none";
}

body {
  position: relative;
}

/*# sourceMappingURL=App.css.map */
